<a ui-sref="view({postId: story.id})">
  <div class="mdl-card__media mdl-color-text--grey-50" style="background-image: url({{config.baseUrl + 'api/images/' + story.image_id}})">
    <h3>{{::story.title}}</h3>
  </div>
  <ul class="colorBlocks">
    <li style="background-color: {{story.color_primary}};"></li>
    <li style="background-color: {{story.color_secondary}};"></li>
    <li style="background-color: {{story.color_accent}};"></li>
  </ul>
</a>
<!-- <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
  {{::story.description}}
</div> -->
<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
  <like-button class="voteCount" story="story" ng-click="story.toggleLike()">{{story.like_count}}</like-button>
  <div>
    <strong>
      <a ui-sref="profile({userId: story.added_by.user_id})">{{::story.added_by.username}}</a>
    </strong>
    <span am-time-ago="story.timestamp | amFromUnix"></span>
  </div>
</div>